.text {
  padding-top: 16px;
  display: grid;

  &--border {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #0082FF;
  }

  &__content {
    color: #313233;
  }

  &__container {
    &--aligned-left {
      @media screen and (min-width: 1104px) {
        width: 50%;
      }
    }
  }
}